.syllable-count-item {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.syllable-line-number {
    font-weight: bold;
    margin-right: 5px;
}

.syllable-line-text {
    flex: 1;
    margin-right: 5px;
}

.syllable-count-value {
    color: gray;
}

.syllable-count-item.last-item {
    border-bottom: none;
}
